@import 'reset';

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');

@mixin full-size {
    width: 100%;
    height: max-content;
}

@mixin menu {
    display: flex;
    align-items: center;
    padding: 0 $primary-size;
    cursor: pointer;
    pointer-events: auto;
    font-weight: bold;
    box-sizing: border-box;
}

$primary-size: 1rem;

$primary-white: #fff;
$primary-black: #5f6368;

$gray-1: #eee;
$gray-2: #e0e0e0;
$gray-3: #cfd8dc;

$white-1: #fafafa;

$black-1: #616161;
$black-2: #424242;
$black-3: #212121;
$black-4: #1b1b1b;

$moon: #ffd600;
$sun: #ff6d00;
$sea: #1a73e8;
$sky: #8ab4f8;
$sea-a: rgba(26, 115, 232, .25);
$sky-a: rgba(138, 180, 248, .25);

$lightblue: #e1f5fe;

$shadow: .3rem .3rem .6rem $gray-3, 
-.2rem -.2rem .5rem #eee;
$inner-shadow: inset .2rem .2rem .5rem $gray-3, 
inset -.2rem -.2rem .5rem #eee;

$d-shadow: .3rem .3rem .6rem rgba(0, 0, 0, .75), 
-.2rem -.2rem .5rem rgba(0, 0, 0, .35);
$d-inner-shadow: inset .2rem .2rem .5rem rgba(0, 0, 0, .75), 
inset -.2rem -.2rem .5rem rgba(0, 0, 0, .35);

html {
    @include full-size();
    scroll-behavior: smooth;

    body {
        @include full-size();
        background: $primary-white;
        color: $primary-black;
        font-family: 'Noto Sans KR', sans-serif;
        white-space: nowrap;

        // 드래그 방지.
        -webkit-user-select:none;
        -moz-user-select:none;
        -ms-user-select:none;
        user-select:none;

        // 스크롤바 커스텀.
        &::-webkit-scrollbar {
            width: $primary-size / 1;
        }
        
        &::-webkit-scrollbar-thumb {
            background: #217af4;
            background-clip: padding-box;
            border: 4px solid transparent;
            border-radius: 10px;
        }

        #index {
            display: flex;
            @include full-size();
            justify-content: center;
            position: relative;
            box-sizing: border-box;

            main {
                max-width: 1000px;
                @include full-size();
                border-width: 0px 1px 0px 1px;
                border-style: solid;
                flex: none;
                box-sizing: border-box;
                position: relative;
                z-index: 0;

                hr {
                    position: relative;
                    z-index: 10;
                }

                header {
                    display: flex;
                    width: 100%;
                    height: calc(($primary-size * 4) - 1px);
                    justify-content: space-between;
                    border-width: 0px 0px 1px 0px;
                    border-style: solid;
                    position: sticky;
                    top: 0;
                    z-index: 30;

                    .logo {
                        display: flex;
                        width: $primary-size * 12;
                        height: 100%;
                        justify-content: center;
                        align-items: center;
                        font-size: 1.5rem;
                        font-weight: bold;
                        column-gap: .75rem;
                    }

                    .bar {
                        display: none;
                        width: 2rem;
                        justify-content: center;
                        padding: $primary-size / 2;
                        font-size: $primary-size * 1.75;
                        pointer-events: none;

                        i {
                            pointer-events: auto;
                            cursor: pointer;
                        }
                    }

                    nav {
                        display: flex;

                        .menu {
                            @include menu();
                            width: 7.5rem;
                            height: 100%;
                            justify-content: center;
                            position: relative;
                            overflow: hidden;

                            .effect {       
                                width: 17.5rem;
                                height: 17.5rem;
                                border-radius: 50%;
                                pointer-events: none;
                                transform: translate(-50%, -50%);
                                background: var(--sky-a);
                                position: absolute;
                                top: var(--top);
                                left: var(--left);
                                opacity: 0;
                                animation: effect .5s ease;
                            }

                            @keyframes effect {
                                0% {
                                    opacity: 0;
                                    transform: translate(-50%, -50%) scale(0);
                                }

                                30% {
                                    opacity: 1;
                                }

                                100% {
                                    opacity: 0;
                                    transform: translate(-50%, -50%) scale(1);
                                }
                            }

                            .effect-w {
                                background: $sea-a;
                            }

                            .effect-d {
                                background: $sky-a;
                            }   
                        }
                    }
                }

                .light-w-bg-header {
                    background: $primary-white;
                }

                .light-d-bg-header {
                    background: $black-3;
                }

                .title {
                    padding-top: $primary-size * 3.5;
                    padding-left: $primary-size * 3.5;
                    font-weight: bold;
                }

                .container {
                    scroll-margin: 4rem;

                    .motto {
                        display: flex;
                        width: 100%;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        padding: $primary-size * 3.5 0;
                        row-gap: $primary-size;
                        font-size: $primary-size * 1.5;
                        box-sizing: border-box;

                        @mixin icons {
                            content: '\F6B0';
                            font-family: bootstrap-icons;
                            font-size: $primary-size * 1.5;
                            font-weight: 300;
                            position: absolute;
                            top: 0;
                        }

                        .sentence {
                            position: relative;
                            font-weight: bold;

                            &::after {
                                @include icons();
                                left: -$primary-size * 2;
                            }

                            &::before {
                                @include icons();
                                transform: rotate(.5turn);
                                right: -$primary-size * 2;
                            }
                        }

                        .saying {
                            font-size: $primary-size;
                            opacity: .75;
                        }
                    }

                    .box {
                        @include full-size();
                        position: relative;
                        scroll-margin: 4rem;

                        .front {
                            transition: transform 1s ease;
                            transform-origin: center;
                            backface-visibility: hidden;
                            position: relative;
                            z-index: 5;

                            .profile {
                                display: flex;
                                justify-content: center;
                                padding: $primary-size * 3.5 0;
                                transform-origin: center;
                                position: relative;
                                backface-visibility: hidden;
                                z-index: 5;
            
                                .picture {
                                    width: $primary-size * 12.5;
                                    border-radius: 50%;
                                    position: relative;
                                    z-index: inherit;
                                    box-sizing: border-box;
                                    border-width: 5px;
                                    border-style: solid;
                                }
                            }

                            .infor {
                                display: flex;
                                justify-content: center;
                                padding-bottom: $primary-size * 3.5;
                                transform-origin: center;
                                backface-visibility: hidden;
                                z-index: 5;
        
                                .library {
                                    display: flex;
                                    flex-direction: column;
                                    row-gap: $primary-size * 2;
        
                                    .book {
                                        display: flex;
                                        list-style: none;
                                        column-gap: $primary-size * 1.5;
                                        font-weight: bold;
        
                                        .name {
                                            color: #aeaeae;
                                        }
        
                                        .value {

                                        }
                                    }
                                }
                            }
                        }

                        .front-bd {
                            border-width: 0px 1px 0px 0px;
                            border-style: solid;
                        }

                        .back {
                            @include full-size();
                            height: 100%;
                            transform-origin: center;
                            box-sizing: border-box;
                            transition: transform 1s ease;
                            position: absolute;
                            top: 0;
                            border-style: solid;
                        }

                        .back-w {
                            background: #f5f5f5;
                        }

                        .back-d {
                            background: $black-3;
                        }

                        .open {
                            transform: rotateY(180deg);
                        }

                        .intro {
                            @include full-size();
                            position: absolute;
                            top: 0;
                            left: 0;
                            z-index: -1;
                            box-shadow: inset .2rem .2rem .5rem $gray-3, inset -.2rem -.2rem .5rem $gray-1;
                        }

                        .box-btn {
                            position: absolute;
                            top: $primary-size;
                            right: $primary-size / 2;
                            z-index: 10;
                            background: none;
                            border: none;
                            cursor: pointer;
                            z-index: 15;
                            opacity: .75;

                            i {
                                transition: transform opacity .5s ease;
                                font-size: $primary-size * 1.5;
                                pointer-events: none;
                            }

                            &:hover ::after {
                                content: '\F249';
                                font-family: bootstrap-icons;
                                position: absolute;
                                top: -15%;
                                left: -25%;
                                transform: scaleX(-1);
                                font-size: 1rem;
                            }
                        }

                        .arrow-active-1 {
                            transform: translateX(-50%);
                            opacity: 0;
                            transition: .5s ease;
                        }

                        .arrow-active-2 {
                            transform: translateX(50%) rotate(.5turn);
                            opacity: 0;
                            transition: .5s ease;
                        }

                        .shadow-box {
                            @include full-size();
                            height: 100%;
                            background-color: rgba(0, 0, 0, .025);
                            position: absolute;
                            top: 0;
                            transition: width .5s ease-out;
                            transition-delay: .2s;
                        }

                        .gone {
                            width: 0%;
                        }
                    }

                    .inner-shadow {
                        box-shadow: $inner-shadow;
                    }

                    .shadow {
                        box-shadow: $shadow;
                    }

                    .d-inner-shadow {
                        box-shadow: $d-inner-shadow;
                    }

                    .d-shadow {
                        box-shadow: $d-shadow;
                    }

                    .skill {
                        display: flex;
                        justify-content: center;
                        font-size: $primary-size * 3;
                        padding: $primary-size * 2.5 0;
                        column-gap: $primary-size * 2.5;
                        scroll-margin: 4rem;

                        .skill-icon {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            row-gap: $primary-size / 2;
                        }

                        .skill-icon:nth-child(1) {
                            color: #dd2c00;
                        }

                        .skill-icon:nth-child(2) {
                            color: #0091ea;
                        }

                        .skill-icon:nth-child(3) {
                            color: #ffd600;
                            position: relative;

                            &::after {
                                content: '👑';
                                font-size: $primary-size;
                                position: absolute;
                                top: -5px;
                                right: 5px;
                                transform: rotate(.1turn);
                            }
                        }

                        .skill-icon:nth-child(4) {
                            color: #263238;
                        }

                        .skill-name {
                            font-size: $primary-size;
                            font-weight: bold;
                        }
                    }

                    .skill-d {
                        color: $gray-3;
                    }

                    .project {
                        display: flex;
                        justify-content: center;
                        flex-wrap: wrap;
                        row-gap: $primary-size * 3.5;
                        column-gap: $primary-size * 3.5;
                        padding: $primary-size * 3.5 $primary-size;
                        scroll-margin: 8.5rem;

                        .item {
                            width: $primary-size * 20;
                            height: $primary-size * 20;
                            border-radius: $primary-size / 2;
                            cursor: pointer;
                            flex: none;
                            overflow: hidden;
                            position: relative;
                            box-sizing: border-box;

                            &:hover {
                                transform: scale(.95);
                                transition: .3s ease;
                            }

                            .cover {
                                width: 100%;
                                height: 100%;
                                pointer-events: none;
                                border-radius: $primary-size / 2 $primary-size / 2 0 0;
                                transition: .25s ease;
                                position: relative;
                                z-index: 15;
                            }

                            .slide-down {
                                transform: translateY(0);
                            }

                            .slide-up {
                                transform: translateY(-110%);
                            }

                            .cover-w {
                                background: rgba(0, 0, 0, .85);
                            }

                            .cover-d {
                                background: rgba(250, 250, 250, .95);
                            }

                            .mark {
                                display: flex;
                                width: $primary-size * 2.75;
                                height: $primary-size * 2.75;
                                justify-content: center;
                                align-items: center;
                                color: #ffd600;
                                font-size: $primary-size * 2.5;
                                position: absolute;
                                right: $primary-size;
                                bottom: $primary-size;
                                border-radius: $primary-size / 3;
                                z-index: 20;
                            }

                            .item-img {
                                position: absolute;
                                top: 0;
                            }
                        }
                    }

                    .project-w {
                        border: 1px solid $gray-3;
                        background: $primary-white;
                    }

                    .project-d {
                        border: 1px solid $black-2;
                        background: $black-3;
                    }

                    footer {
                        width: 100%;
                        padding: $primary-size * 2 0;
                        box-sizing: border-box;

                        .title {
                            padding-top: $primary-size * 1.5;
                            padding-bottom: $primary-size * 3;
                        }

                        .email {
                            display: flex;
                            height: 100%;
                            justify-content: center;
                            align-items: center;

                            #contact-form {
                                display: flex;
                                flex-direction: column;

                                label {
                                    padding: $primary-size / 2 0;
                                    font-size: .9rem;
                                }

                                .user-name {
                                    display: flex;
                                    width: 150px;
                                    align-items: center;
                                    height: $primary-size * 1.5;
                                    border-radius: $primary-size;
                                    padding-left: $primary-size / 2;
                                    border-width: 1px;
                                    border-style: solid;

                                    &:focus {
                                        outline: 0;
                                        border-color: gray;
                                    }
                                }

                                .message {
                                    display: flex;
                                    width: 300px;
                                    height: $primary-size * 7.5;
                                    align-items: center;
                                    border-radius: $primary-size / 3;
                                    padding: $primary-size / 2;
                                    border-width: 1px;
                                    border-style: solid;
                                    resize: none;

                                    &:focus {
                                        outline: 0;
                                        border-color: gray;
                                    }
                                }

                                .submit {
                                    width: min-content;
                                    margin: $primary-size 0;
                                    padding: $primary-size / 5 $primary-size / 1.5;
                                    border-radius: $primary-size;
                                    border-width: 1px;
                                    border-style: solid;
                                    cursor: pointer;
                                    font-size: .9rem;
                                }
                            }
                        }
                    }

                    .footer-w {
                        border-width: 1px 0px 0px 0px;
                        border-style: solid;
                        background: linear-gradient($white-1, 25%, $lightblue);
                        color: $black-1;
                    }

                    .footer-d {
                        border-width: 1px 0px 0px 0px;
                        border-style: solid;
                        background: linear-gradient($black-4, 25%, $black-3);
                    }

                    .label-d {
                        color: #aeaeae;
                    }

                    .user-name-d {
                        background: $black-1;
                        color: $primary-white;
                    }

                    .message-d {
                        background: $black-1;
                        color: $primary-white;
                    }

                    .submit-w {
                        background: $primary-white;
                    }

                    .submit-d {
                        background: $black-2;
                        color: $gray-3;
                    }
                }
            }

            .line {
                margin: 0;
                border: none;
                border-bottom: 1px solid;
            }

            .bd-w {
                border-color: $gray-3;
            }
    
            .bd-d {
                border-color: $black-2;
            }

            .light-w-bg-main {
                background: $white-1;
            }

            .light-d-bg-main {
                background: $black-4;
            }

            .gradient-w {
                background: linear-gradient($lightblue, 75%, $white-1);
            }

            .gradient-d {
                background: linear-gradient($black-3, 70%, $black-4);
            }

            .profile-bd-w {
                border-color: $primary-white;
            }

            .profile-bd-d {
                border-color: $black-2;
            }
        }

        .mod {
            display: flex;
            align-items: center;
            position: fixed;
            right: $primary-size * 1.5;
            bottom: $primary-size * 1.5;
            padding: $primary-size * 1;
            border-radius: $primary-size * 2;
            font-size: $primary-size - .25;
            font-weight: bold;
            cursor: pointer;
            box-sizing: border-box;
            column-gap: $primary-size / 2;
            z-index: 45;

            i {
                pointer-events: none;
                font-size: $primary-size - .1;
            }
        }

        .mod-bg-w-w {
            background: #efebe9;
        }

        .mod-bg-w-d {
            background: $black-2;
            color: $primary-white;

            i {
                color: $moon;
            }
        }

        .mod-bg-d-d {
            background: $black-2;
        }

        .mod-bg-d-w {
            background: $black-1;

            i {
                color: $sun;
            }
        }

        aside {
            width: $primary-size * 17.5;
            height: 100%;
            transform: translateX(-100%);
            transition: transform 0.2s ease;
            border-right: 1px solid;
            position: fixed;
            left: 0;
            z-index: 40;

            .logo {
                display: flex;
                width: 100%;
                height: $primary-size * 3;
                justify-content: center;
                align-items: center;
                font-size: 1.5rem;
                font-weight: bold;
                font-size: $primary-size + .25 !important;
            }

            .line {
                pointer-events: none;
            }

            nav {
                display: flex;
                flex-direction: column;
                padding: ($primary-size) ($primary-size / 2) ($primary-size) 0;
                box-sizing: border-box;
                pointer-events: none;

                .menu {
                    @include menu();
                    width: 100%;
                    height: $primary-size * 3;
                    pointer-events: auto;
                }
            }
        }

        .light-w-bg-aside {
            background: $primary-white;
        }

        .light-d-bg-aside {
            background: $black-3;
        }

        .hide-on-bush {
            transform: translateX(0%);
        }

        .exit {
            display: none;
            position: fixed;
            @include full-size();
            z-index: 35;
        }

        .light-w-bg-exit {
            background: $black-3;
            opacity: .5;
        }

        .light-d-bg-exit {
            background: $primary-white;
            opacity: .1;
        }

        .show-exit {
            display: block;
        }

        .active-w {
            color: $sea;
        }

        .active-w-bd {
            border-bottom: 3px solid $sea;
        }

        .active-bg {
            background: #e8eaf6;
            border-radius: 0 $primary-size * 1.5 $primary-size * 1.5 0;
        }

        .active-d {
            color: $sky;
        }

        .active-d-bd {
            border-bottom: 3px solid $sky;
        }

        .active-bg-d {
            color: $black-4;
            background: $sky;
            border-radius: 0 $primary-size * 1.5 $primary-size * 1.5 0;
        }
    }

    .d-mod {
        background: $black-3;
        color: $white-1;
    }

    .w-mod {
        background: $white-1;
        color: $primary-black;
    }
}

@import './media.scss';

@include tablet {
    header {
        height: $primary-size * 3 !important;
        
        .logo {
            width: $primary-size * 10 !important;
            font-size: $primary-size + .25 !important;
        }

        .bar {
            display: flex !important;
        }

        nav {
            display: none !important;
        }
    }

    .container {

        .motto {
            font-size: $primary-size * 1.25 !important;

            .sentence {

                &::after {
                    font-size: $primary-size * 1.25 !important;
                    left: -$primary-size * 1.5 !important;
                }

                &::before {
                    font-size: $primary-size * 1.25 !important;
                    right: -$primary-size * 1.5 !important;
                }
            }

            .saying {
                font-size: $primary-size / 1.25 !important;
            }
        }
    }
}

@include mobile {
    header {
        height: $primary-size * 3 !important;
        
        .logo {
            width: $primary-size * 10 !important;
            font-size: $primary-size + .25 !important;
        }

        .bar {
            display: flex !important;
        }

        nav {
            display: none !important;
        }
    }

    .container {

        .motto {
            font-size: $primary-size !important;

            .sentence {

                &::after {
                    font-size: $primary-size !important;
                    left: -$primary-size * 1.15 !important;
                }

                &::before {
                    font-size: $primary-size !important;
                    right: -$primary-size * 1.15 !important;
                }
            }

            .saying {
                font-size: $primary-size / 1.5 !important;
            }
        }

        
        .skill {
            font-size: $primary-size * 2 !important;
            column-gap: $primary-size * 1.75 !important;

            .skill-icon {

                .skill-name {
                    font-size: $primary-size - .1 !important;
                }
            }

            .skill-icon:nth-child(3) {

                &::after {
                    font-size: $primary-size / 1.75 !important;
                    top: -2px !important;
                    right: 12px !important;
                }
            }
        }

        footer {
            padding: $primary-size !important;
        }
    }
}