// import
@import 'reset';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');

// mixin
@mixin full-size {
    width: 100%;
    height: 100%;
}

// var
$primary-white: #fafafa;
$primary-black: #212121;
$primary-size: 1rem;
$gray-1: rgb(218, 220, 224);
$gray-2: rgb(95, 99, 104);
$blue-1: rgb(26, 115, 232); 

// style
html {
    @include full-size();

    body {
        @include full-size();
        font-family: 'Noto Sans KR', sans-serif;
        color: $gray-2;

        -webkit-user-select:none;
        -moz-user-select:none;
        -ms-user-select:none;
        user-select:none;


        #index {
            display: flex;
            @include full-size();
            justify-content: center;

            .container {
                display: flex;
                max-width: 1200px;
                @include full-size();

                main {
                    width: 80%;
                    height: 100%;

                    header {
                        display: flex;
                        width: 100%;
                        height: $primary-size * 3.5;
                        justify-content: space-between;

                        .logo {
                            display: flex;
                            width: 15%;
                            height: 100%;
                            text-align: center;
                            align-items: center;

                            &::after {
                                content: 'My Web';
                                display: flex;
                                @include full-size();
                                align-items: center;
                                justify-content: center;
                                font-size: $primary-size * 1.25;
                                font-weight: bold;
                            }
                        }

                        nav {
                            display: flex;
                            width: 60%;
                            height: 100%;
                            box-sizing: border-box;

                            .menu {
                                display: flex;
                                width: 25%;
                                height: 100%;
                                justify-content: center;
                                align-items: center;
                                font-weight: bold;
                                cursor: pointer;
                                position: relative;
                                --a: initial;
                                overflow: hidden;

                                &:after {
                                    content: '';
                                    width: var(--diameter);
                                    height: var(--diameter);
                                    position: absolute;
                                    top: var(--top);
                                    left: var(--left);
                                    transform: scale(0);
                                    background: red;
                                    border-radius: 50%;
                                    pointer-events: none;
                                    animation: var(--a);
                                }

                                &:hover {
                                    background: #f5f5f5;
                                }

                                @keyframes effect {
                                    100% {
                                        transform: scale(1);
                                        opacity: 0;
                                    }
                                }
                            }

                            .active {
                                color: $blue-1;
                                border-bottom: 2px solid $blue-1;
                            }
                        }
                    }
                }

                aside {
                    width: 20%;
                    height: 100%;
                    box-shadow: -3px -3px 3px 0px #eceff1;
                }
            }
        }

        .bd-b {
            border-bottom: 1px solid $gray-1;
        }

        .bd-l {
            border-left: 1px solid $gray-1;
        }
    }
}