// import
@import 'var';
@import 'reset';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');

// mixin
@mixin full-size {
    width: 100%;
    height: 100%;
}

// var
$primary-white: #fafafa;
$primary-black: #212121;
$primary-size: 1rem;
$gray-1: rgb(218, 220, 224);
$gray-2: rgb(95, 99, 104);
$blue-1: rgb(26, 115, 232); 
$blue-2: rgba(26, 115, 232, .15);

// style
html {
    @include full-size();

    body {
        @include full-size();
        font-family: 'Noto Sans KR', sans-serif;
        color: $gray-2;

        -webkit-user-select:none;
        -moz-user-select:none;
        -ms-user-select:none;
        user-select:none;

        white-space:nowrap;


        #index {
            display: flex;
            @include full-size();
            justify-content: center;
            position: relative;

            @mixin menu {
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                position: relative;
                overflow: hidden;
                background: var(--bg);
                box-sizing: border-box;
                font-weight: bold;
            }

            @mixin logo {
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: $primary-size * 1.25;
                font-weight: bold;
            }

            .container {
                display: flex;
                max-width: 1000px;
                @include full-size();
                justify-content: center;

                main {
                    width: 1000px;
                    height: 100%;

                    header {
                        display: flex;
                        width: 100%;
                        height: $primary-size * 3.5;
                        justify-content: space-between;

                        .logo {
                            width: 150px;
                            height: 100%;
                            @include logo();
                        }

                        
                        .bar {
                            display: none;
                            width: $primary-size * 3.5;
                            height: $primary-size * 3.5;
                            justify-content: center;
                            align-items: center;
                            font-size: $primary-size * 2;
                            pointer-events: none;

                            i {
                                cursor: pointer;
                                pointer-events: auto;
                            }
                        }

                        nav {
                            display: flex;
                            width: 600px;
                            height: 100%;
                            box-sizing: border-box;

                            .menu {
                                width: 25%;
                                height: 100%;
                                @include menu();

                                &:hover {
                                    background: #f5f5f5;
                                }

                                .effect {
                                    width: 20rem;
                                    height: 20rem;
                                    position: absolute;
                                    top: var(--top);
                                    left: var(--left);
                                    background: $blue-2;
                                    border-radius: 50%;
                                    transform: translate(-50%, -50%);
                                    opacity: 0;
                                    pointer-events: none;
                                    animation: effect 500ms ease;
                                }

                                @keyframes effect {
                                    0% {
                                        opacity: 0;
                                        transform: translate(-50%, -50%) scale(0);
                                    }

                                    30% {
                                        opacity: 1;
                                    }

                                    100% {
                                        opacity: 0;
                                        transform: translate(-50%, -50%) scale(1);
                                    }
                                }
                            }
                        }
                    }
                }

                aside {
                    display: none;
                    width: 300px;
                    height: 100%;
                    flex-direction: column;
                    background: #fff;
                    row-gap: $primary-size;
                    transition: transform .2s ease;
                    z-index: 10;

                    .logo {
                        width: 100%;
                        height: $primary-size * 3.75;
                        @include logo();
                        border-bottom: 1px solid $gray-1;
                    }

                    nav {
                        @include full-size();
                        flex-direction: column;
                        box-sizing: border-box;

                        .menu {
                            width: 100%;
                            height: $primary-size * 3;
                            @include menu();
                            justify-content: flex-start;
                            padding: 0 $primary-size * 1.5;
                        }
                    }
                }
            }
        }

        .active {
            color: $blue-1;
            border-bottom: 2px solid $blue-1;
            background: $blue-2;
        }

        .bd-b {
            border-bottom: 1px solid $gray-1;
        }

        .bd-l {
            border-left: 1px solid $gray-1;
        }

        .bd-r {
            border-right: 1px solid $gray-1;
        }
    }
    
    .close {
        display: none;
        @include full-size();
        background: rgba(0, 0, 0, 0.5);
        position: absolute;
    }

    .open {
        display: flex;
        z-index: 5;
    }
}

@include pc {
    header {
        nav {
            display: none !important;
        }
    }

    .bar {
        display: flex !important;
    }

    aside {
        display: flex !important;
        position: absolute;
        left: 0;
        transform: translateX(-100%);
    }
}

// @include tablet {

// }

// @include mobile {

// }


.show {
    transform: translateX(0);
}
