/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  width: 100%;
  height: 100%;
}
html body {
  width: 100%;
  height: 100%;
  background: #fff;
  color: #5f6368;
  font-family: "Noto Sans KR", sans-serif;
  white-space: nowrap;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
html body #index {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  position: relative;
}
html body #index main {
  max-width: 1000px;
  width: 100%;
  height: 100%;
  border-width: 0px 1px 0px 1px;
  border-style: solid;
  flex: none;
  box-sizing: border-box;
}
html body #index main header {
  display: flex;
  width: inherit;
  height: calc(4rem - 1px);
  justify-content: space-between;
}
html body #index main header .logo {
  display: flex;
  width: 12rem;
  height: 100%;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
  -moz-column-gap: 0.75rem;
       column-gap: 0.75rem;
}
html body #index main header .bar {
  display: none;
  width: 2rem;
  justify-content: center;
  padding: 0.5rem;
  font-size: 1.75rem;
  pointer-events: none;
}
html body #index main header .bar i {
  pointer-events: auto;
  cursor: pointer;
}
html body #index main header nav {
  display: flex;
}
html body #index main header nav .menu {
  display: flex;
  align-items: center;
  padding: 0 1rem;
  cursor: pointer;
  pointer-events: auto;
  font-weight: bold;
  box-sizing: border-box;
  width: 7.5rem;
  height: 100%;
  justify-content: center;
  position: relative;
  overflow: hidden;
}
html body #index main header nav .menu .effect {
  width: 17.5rem;
  height: 17.5rem;
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  background: var(--sky-a);
  position: absolute;
  top: var(--top);
  left: var(--left);
  opacity: 0;
  -webkit-animation: effect 0.5s ease;
          animation: effect 0.5s ease;
}
@-webkit-keyframes effect {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0);
  }
  30% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(1);
  }
}
@keyframes effect {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0);
  }
  30% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(1);
  }
}
html body #index main header nav .menu .effect-w {
  background: rgba(26, 115, 232, 0.25);
}
html body #index main header nav .menu .effect-d {
  background: rgba(138, 180, 248, 0.25);
}
html body #index main .light-w-bg-header {
  background: #fff;
}
html body #index main .light-d-bg-header {
  background: #212121;
}
html body #index main .container {
  padding: 0 1rem;
}
html body #index main .container .motto {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3.5rem 0;
  row-gap: 1rem;
  font-size: 1.5rem;
  box-sizing: border-box;
}
html body #index main .container .motto .sentence {
  position: relative;
  font-weight: bold;
}
html body #index main .container .motto .sentence::after {
  content: "\f6b0";
  font-family: bootstrap-icons;
  font-size: 1.5rem;
  font-weight: 300;
  position: absolute;
  top: 0;
  left: -2rem;
}
html body #index main .container .motto .sentence::before {
  content: "\f6b0";
  font-family: bootstrap-icons;
  font-size: 1.5rem;
  font-weight: 300;
  position: absolute;
  top: 0;
  transform: rotate(0.5turn);
  right: -2rem;
}
html body #index main .container .motto .saying {
  font-size: 1rem;
  opacity: 0.75;
}
html body #index .line {
  margin: 0;
  border: none;
  border-bottom: 1px solid;
}
html body #index .bd-w {
  border-color: #cfd8dc;
}
html body #index .bd-d {
  border-color: #424242;
}
html body #index .light-w-bg-main {
  background: #fafafa;
}
html body #index .light-d-bg-main {
  background: #1b1b1b;
}
html body .mod {
  display: flex;
  align-items: center;
  position: absolute;
  right: 1.5rem;
  bottom: 1.5rem;
  padding: 1rem;
  border-radius: 2rem;
  font-size: 0.75rem;
  font-weight: bold;
  cursor: pointer;
  box-sizing: border-box;
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
  z-index: 20;
}
html body .mod i {
  pointer-events: none;
  font-size: 0.9rem;
}
html body .mod-bg-w-w {
  background: lightgray;
}
html body .mod-bg-w-d {
  background: #424242;
  color: #fff;
}
html body .mod-bg-w-d i {
  color: #ffd600;
}
html body .mod-bg-d-d {
  background: #424242;
}
html body .mod-bg-d-w {
  background: #616161;
}
html body .mod-bg-d-w i {
  color: #ff6d00;
}
html body .d-mod {
  background: #212121;
  color: #fafafa;
}
html body aside {
  width: 17.5rem;
  height: 100%;
  transform: translateX(-100%);
  transition: transform 0.2s ease;
  border-right: 1px solid;
  position: fixed;
  left: 0;
  z-index: 15;
}
html body aside .logo {
  display: flex;
  width: 100%;
  height: 3rem;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
  font-size: 1.25rem !important;
}
html body aside .line {
  pointer-events: none;
}
html body aside nav {
  display: flex;
  flex-direction: column;
  padding: 1rem 0.5rem 1rem 0;
  box-sizing: border-box;
  pointer-events: none;
}
html body aside nav .menu {
  display: flex;
  align-items: center;
  padding: 0 1rem;
  cursor: pointer;
  pointer-events: auto;
  font-weight: bold;
  box-sizing: border-box;
  width: 100%;
  height: 3rem;
  pointer-events: auto;
}
html body .light-w-bg-aside {
  background: #fff;
}
html body .light-d-bg-aside {
  background: #212121;
}
html body .hide-on-bush {
  transform: translateX(0%);
}
html body .exit {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 10;
}
html body .light-w-bg-exit {
  background: #212121;
  opacity: 0.5;
}
html body .light-d-bg-exit {
  background: #fff;
  opacity: 0.1;
}
html body .show-exit {
  display: block;
}
html body .active-w {
  color: #1a73e8;
}
html body .active-w-bd {
  border-bottom: 3px solid #1a73e8;
}
html body .active-bg {
  background: #e8eaf6;
  border-radius: 0 1.5rem 1.5rem 0;
}
html body .active-d {
  color: #8ab4f8;
}
html body .active-d-bd {
  border-bottom: 3px solid #8ab4f8;
}
html body .active-bg-d {
  color: #1b1b1b;
  background: #8ab4f8;
  border-radius: 0 1.5rem 1.5rem 0;
}

@media screen and (max-width: 1000px) {
  header {
    height: 3rem !important;
  }
  header .logo {
    width: 10rem !important;
    font-size: 1.25rem !important;
  }
  header .bar {
    display: flex !important;
  }
  header nav {
    display: none !important;
  }
  .container .motto {
    font-size: 1.25rem !important;
  }
  .container .motto .sentence::after {
    font-size: 1.25rem !important;
    left: -1.5rem !important;
  }
  .container .motto .sentence::before {
    font-size: 1.25rem !important;
    right: -1.5rem !important;
  }
  .container .motto .saying {
    font-size: 0.8rem !important;
  }
}
@media screen and (max-width: 480px) {
  header {
    height: 3rem !important;
  }
  header .logo {
    width: 10rem !important;
    font-size: 1.25rem !important;
  }
  header .bar {
    display: flex !important;
  }
  header nav {
    display: none !important;
  }
  .container {
    padding: 0 0.5rem !important;
  }
  .container .motto {
    font-size: 1rem !important;
  }
  .container .motto .sentence::after {
    font-size: 1rem !important;
    left: -1.15rem !important;
  }
  .container .motto .sentence::before {
    font-size: 1rem !important;
    right: -1.15rem !important;
  }
  .container .motto .saying {
    font-size: 0.6666666667rem !important;
  }
}/*# sourceMappingURL=main.css.map */