/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  width: 100%;
  height: 100%;
}
html body {
  width: 100%;
  height: 100%;
  font-family: "Noto Sans KR", sans-serif;
  color: rgb(95, 99, 104);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;
}
html body #index {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  position: relative;
}
html body #index .container {
  display: flex;
  max-width: 1000px;
  width: 100%;
  height: 100%;
  justify-content: center;
}
html body #index .container main {
  width: 1000px;
  height: 100%;
}
html body #index .container main header {
  display: flex;
  width: 100%;
  height: 3.5rem;
  justify-content: space-between;
}
html body #index .container main header .logo {
  width: 150px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
  font-weight: bold;
}
html body #index .container main header .bar {
  display: none;
  width: 3.5rem;
  height: 3.5rem;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  pointer-events: none;
}
html body #index .container main header .bar i {
  cursor: pointer;
  pointer-events: auto;
}
html body #index .container main header nav {
  display: flex;
  width: 600px;
  height: 100%;
}
html body #index .container main header nav .menu {
  width: 25%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  background: var(--bg);
  box-sizing: border-box;
  font-weight: bold;
  --blue-1: rgba(26, 115, 232, .15);
  --blue-2: red;
}
html body #index .container main header nav .menu .effect {
  width: 20rem;
  height: 20rem;
  position: absolute;
  top: var(--top);
  left: var(--left);
  background: var(--blue-1);
  border-radius: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  pointer-events: none;
  -webkit-animation: effect 500ms ease;
          animation: effect 500ms ease;
}
@-webkit-keyframes effect {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0);
  }
  30% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(1);
  }
}
@keyframes effect {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0);
  }
  30% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(1);
  }
}
html body #index .container main header nav .hover {
  background: #f5f5f5;
}
html body #index .container main header nav .hover-dark {
  background: #373737;
}
html body #index .container main .content {
  width: 100%;
  height: calc(100% - 3.6rem);
  box-sizing: border-box;
}
html body #index .container aside {
  display: none;
  width: 300px;
  height: 100%;
  flex-direction: column;
  background: #fff;
  row-gap: 1rem;
  transition: transform 0.2s ease;
  z-index: 10;
}
html body #index .container aside .logo {
  width: 100%;
  height: 3.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
  font-weight: bold;
  border-bottom: 1px solid rgb(218, 220, 224);
}
html body #index .container aside nav {
  width: 100%;
  height: 100%;
  flex-direction: column;
  box-sizing: border-box;
}
html body #index .container aside nav .menu {
  width: 100%;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  background: var(--bg);
  box-sizing: border-box;
  font-weight: bold;
  justify-content: flex-start;
  padding: 0 1.5rem;
}
html body .active {
  color: rgb(26, 115, 232);
  border-bottom: 2px solid rgb(26, 115, 232);
}
html body .active-dark {
  color: #8ab4f8;
  border-bottom: 2px solid #8ab4f8;
}
html body .bd-b {
  border-bottom: 1px solid rgb(218, 220, 224);
}
html body .bd-l {
  border-left: 1px solid rgb(218, 220, 224);
}
html body .bd-r {
  border-right: 1px solid rgb(218, 220, 224);
}
html body .dark-1 {
  background: #1e1f21 !important;
  color: #fafafa !important;
}
html body .dark-2 {
  background: rgb(41, 42, 45) !important;
}
html body .dark-bd {
  border-color: #424242 !important;
}
html .close {
  display: none;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
}
html .open {
  display: flex;
  z-index: 5;
}
html .dark-mod {
  display: flex;
  width: 2.5rem;
  height: 2.5rem;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  border-radius: 50%;
  cursor: pointer;
  pointer-events: none;
}
html .dark-mod i {
  pointer-events: auto;
}
html .dark-mod i:hover {
  color: #ffd600;
}
html .mod-change {
  color: #ffd600;
}

@media all and (max-width: 1000px) {
  header nav {
    display: none !important;
  }
  .bar {
    display: flex !important;
  }
  aside {
    display: flex !important;
    position: absolute;
    left: 0;
    transform: translateX(-100%);
  }
}
.show {
  transform: translateX(0);
}/*# sourceMappingURL=main.css.map */