@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  width: 100%;
  height: 100%;
}
html body {
  width: 100%;
  height: 100%;
  background: #fff;
  color: #5f6368;
  font-family: "Noto Sans KR", sans-serif;
  white-space: nowrap;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
html body #index {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  position: relative;
}
html body #index main {
  max-width: 1000px;
  width: 100%;
  height: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  border-width: 0px 1px 0px 1px;
  border-style: solid;
  flex: none;
  box-sizing: border-box;
  position: relative;
  z-index: 0;
}
html body #index main header {
  display: flex;
  width: inherit;
  height: calc(4rem - 1px);
  justify-content: space-between;
  border-width: 0px 0px 1px 0px;
  border-style: solid;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 30;
}
html body #index main header .logo {
  display: flex;
  width: 12rem;
  height: 100%;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
  -moz-column-gap: 0.75rem;
       column-gap: 0.75rem;
}
html body #index main header .bar {
  display: none;
  width: 2rem;
  justify-content: center;
  padding: 0.5rem;
  font-size: 1.75rem;
  pointer-events: none;
}
html body #index main header .bar i {
  pointer-events: auto;
  cursor: pointer;
}
html body #index main header nav {
  display: flex;
}
html body #index main header nav .menu {
  display: flex;
  align-items: center;
  padding: 0 1rem;
  cursor: pointer;
  pointer-events: auto;
  font-weight: bold;
  box-sizing: border-box;
  width: 7.5rem;
  height: 100%;
  justify-content: center;
  position: relative;
  overflow: hidden;
}
html body #index main header nav .menu .effect {
  width: 17.5rem;
  height: 17.5rem;
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  background: var(--sky-a);
  position: absolute;
  top: var(--top);
  left: var(--left);
  opacity: 0;
  -webkit-animation: effect 0.5s ease;
          animation: effect 0.5s ease;
}
@-webkit-keyframes effect {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0);
  }
  30% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(1);
  }
}
@keyframes effect {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0);
  }
  30% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(1);
  }
}
html body #index main header nav .menu .effect-w {
  background: rgba(26, 115, 232, 0.25);
}
html body #index main header nav .menu .effect-d {
  background: rgba(138, 180, 248, 0.25);
}
html body #index main .light-w-bg-header {
  background: #fff;
}
html body #index main .light-d-bg-header {
  background: #212121;
}
html body #index main .container .motto {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3.5rem 0;
  row-gap: 1rem;
  font-size: 1.5rem;
  box-sizing: border-box;
}
html body #index main .container .motto .sentence {
  position: relative;
  font-weight: bold;
}
html body #index main .container .motto .sentence::after {
  content: "\f6b0";
  font-family: bootstrap-icons;
  font-size: 1.5rem;
  font-weight: 300;
  position: absolute;
  top: 0;
  left: -2rem;
}
html body #index main .container .motto .sentence::before {
  content: "\f6b0";
  font-family: bootstrap-icons;
  font-size: 1.5rem;
  font-weight: 300;
  position: absolute;
  top: 0;
  transform: rotate(0.5turn);
  right: -2rem;
}
html body #index main .container .motto .saying {
  font-size: 1rem;
  opacity: 0.75;
}
html body #index main .container .box {
  width: 100%;
  height: 100%;
  position: relative;
}
html body #index main .container .box .profile {
  display: flex;
  justify-content: center;
  padding: 3.5rem 0;
  transform-origin: left;
  transition: 1s ease-out;
  position: relative;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
html body #index main .container .box .profile .picture {
  width: 12.5rem;
  border-radius: 50%;
  position: relative;
  z-index: inherit;
  box-sizing: border-box;
  border-width: 5px;
  border-style: solid;
}
html body #index main .container .box .infor {
  display: flex;
  justify-content: center;
  padding-bottom: 3.5rem;
  transform-origin: left;
  transition: 1s ease-out;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
html body #index main .container .box .infor .library {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}
html body #index main .container .box .infor .library .book {
  display: flex;
  list-style: none;
  -moz-column-gap: 1.5rem;
       column-gap: 1.5rem;
  font-weight: bold;
}
html body #index main .container .box .infor .library .book .name {
  color: #aeaeae;
}
html body #index main .container .box .intro {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  box-shadow: inset 0.2rem 0.2rem 0.5rem #cfd8dc, inset -0.2rem -0.2rem 0.5rem #eee;
}
html body #index main .container .box .box-btn {
  position: absolute;
  top: 50%;
  right: 0;
  z-index: 10;
}
html body #index main .container .box .trans-box {
  transform: rotateY(200deg);
}
html body #index main .container .skill {
  display: flex;
  justify-content: center;
  font-size: 3rem;
  padding: 2.5rem 0;
  -moz-column-gap: 2.5rem;
       column-gap: 2.5rem;
}
html body #index main .container .skill .skill-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 0.5rem;
}
html body #index main .container .skill .skill-icon:nth-child(1) {
  color: #dd2c00;
}
html body #index main .container .skill .skill-icon:nth-child(2) {
  color: #0091ea;
}
html body #index main .container .skill .skill-icon:nth-child(3) {
  color: #ffd600;
  position: relative;
}
html body #index main .container .skill .skill-icon:nth-child(3)::after {
  content: "👑";
  font-size: 1rem;
  position: absolute;
  top: -5px;
  right: 5px;
  transform: rotate(0.1turn);
}
html body #index main .container .skill .skill-icon:nth-child(4) {
  color: #263238;
}
html body #index main .container .skill .skill-name {
  font-size: 1rem;
  font-weight: bold;
}
html body #index main .container .skill-d {
  color: #cfd8dc;
}
html body #index .line {
  margin: 0;
  border: none;
  border-bottom: 1px solid;
}
html body #index .bd-w {
  border-color: #cfd8dc;
}
html body #index .bd-d {
  border-color: #424242;
}
html body #index .light-w-bg-main {
  background: #fafafa;
}
html body #index .light-d-bg-main {
  background: #1b1b1b;
}
html body #index .gradient-w {
  background: linear-gradient(#e1f5fe, 75%, #fafafa);
}
html body #index .gradient-d {
  background: linear-gradient(#212121, 70%, #1b1b1b);
}
html body #index .profile-bd-w {
  border-color: #fff;
}
html body #index .profile-bd-d {
  border-color: #424242;
}
html body .mod {
  display: flex;
  align-items: center;
  position: fixed;
  right: 1.5rem;
  bottom: 1.5rem;
  padding: 1rem;
  border-radius: 2rem;
  font-size: 0.75rem;
  font-weight: bold;
  cursor: pointer;
  box-sizing: border-box;
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
  z-index: 45;
}
html body .mod i {
  pointer-events: none;
  font-size: 0.9rem;
}
html body .mod-bg-w-w {
  background: lightgray;
}
html body .mod-bg-w-d {
  background: #424242;
  color: #fff;
}
html body .mod-bg-w-d i {
  color: #ffd600;
}
html body .mod-bg-d-d {
  background: #424242;
}
html body .mod-bg-d-w {
  background: #616161;
}
html body .mod-bg-d-w i {
  color: #ff6d00;
}
html body .d-mod {
  background: #212121;
  color: #fafafa;
}
html body aside {
  width: 17.5rem;
  height: 100%;
  transform: translateX(-100%);
  transition: transform 0.2s ease;
  border-right: 1px solid;
  position: fixed;
  left: 0;
  z-index: 40;
}
html body aside .logo {
  display: flex;
  width: 100%;
  height: 3rem;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
  font-size: 1.25rem !important;
}
html body aside .line {
  pointer-events: none;
}
html body aside nav {
  display: flex;
  flex-direction: column;
  padding: 1rem 0.5rem 1rem 0;
  box-sizing: border-box;
  pointer-events: none;
}
html body aside nav .menu {
  display: flex;
  align-items: center;
  padding: 0 1rem;
  cursor: pointer;
  pointer-events: auto;
  font-weight: bold;
  box-sizing: border-box;
  width: 100%;
  height: 3rem;
  pointer-events: auto;
}
html body .light-w-bg-aside {
  background: #fff;
}
html body .light-d-bg-aside {
  background: #212121;
}
html body .hide-on-bush {
  transform: translateX(0%);
}
html body .exit {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 35;
}
html body .light-w-bg-exit {
  background: #212121;
  opacity: 0.5;
}
html body .light-d-bg-exit {
  background: #fff;
  opacity: 0.1;
}
html body .show-exit {
  display: block;
}
html body .active-w {
  color: #1a73e8;
}
html body .active-w-bd {
  border-bottom: 3px solid #1a73e8;
}
html body .active-bg {
  background: #e8eaf6;
  border-radius: 0 1.5rem 1.5rem 0;
}
html body .active-d {
  color: #8ab4f8;
}
html body .active-d-bd {
  border-bottom: 3px solid #8ab4f8;
}
html body .active-bg-d {
  color: #1b1b1b;
  background: #8ab4f8;
  border-radius: 0 1.5rem 1.5rem 0;
}

@media screen and (max-width: 1000px) {
  header {
    height: 3rem !important;
  }
  header .logo {
    width: 10rem !important;
    font-size: 1.25rem !important;
  }
  header .bar {
    display: flex !important;
  }
  header nav {
    display: none !important;
  }
  .container .motto {
    font-size: 1.25rem !important;
  }
  .container .motto .sentence::after {
    font-size: 1.25rem !important;
    left: -1.5rem !important;
  }
  .container .motto .sentence::before {
    font-size: 1.25rem !important;
    right: -1.5rem !important;
  }
  .container .motto .saying {
    font-size: 0.8rem !important;
  }
}
@media screen and (max-width: 480px) {
  header {
    height: 3rem !important;
  }
  header .logo {
    width: 10rem !important;
    font-size: 1.25rem !important;
  }
  header .bar {
    display: flex !important;
  }
  header nav {
    display: none !important;
  }
  .container .motto {
    font-size: 1rem !important;
  }
  .container .motto .sentence::after {
    font-size: 1rem !important;
    left: -1.15rem !important;
  }
  .container .motto .sentence::before {
    font-size: 1rem !important;
    right: -1.15rem !important;
  }
  .container .motto .saying {
    font-size: 0.6666666667rem !important;
  }
  .container .skill {
    font-size: 2rem !important;
    -moz-column-gap: 1.75rem !important;
         column-gap: 1.75rem !important;
  }
  .container .skill .skill-icon .skill-name {
    font-size: 0.9rem !important;
  }
  .container .skill .skill-icon:nth-child(3)::after {
    font-size: 0.5714285714rem !important;
    top: -2px !important;
    right: 12px !important;
  }
}/*# sourceMappingURL=main.css.map */